{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}

{% if not user.is_authenticated %}
    <section class="space-ptb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center">                         
              <p>Введите логин и пароль</p>           
            </div>
          </div>
        </div>
        <div class="row justify-content-lg-around position-relative pt-5">
          <div class="col-lg-7 col-md-7 pr-lg-5">
            <div class="p-4 p-md-5 bg-white shadow">              
              <form class="mt-4" action="{% url 'authapp:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                  {% if request.session.user_data %}
                  <input value="{{ request.session.user_data.username }} "type="text" class="form-control" name="username" placeholder="Имя пользователя" required>
                  {% else %}
                  <input type="text" class="form-control" name="username" placeholder="Имя пользователя" required>
                  {% endif %}
                </div>
                <div class="form-group mb-3">
                  {% if request.session.user_data %}
                  <input value="{{ request.session.user_data.password }}" type="password" class="form-control" name="password" placeholder="Пароль" required>
                  {% else %}
                  <input type="password" class="form-control" name="password" placeholder="Пароль" required>
                  {% endif %}
                </div>
                {% for message in messages %}
                  <p  style="color: red" class="text-uppercase" >* {{ message }} </p>
                {% endfor %}
                <div class="form-group mb-0">
                  <button type="submit" class="btn btn-primary">Войти<i class="fas fa-arrow-right pl-3"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
{% else %}
    <section class="space-ptb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center">                         
              <p>Для выхода нажмите Выйти</p>              
            </div>
          </div>
        </div>
        <div class="row justify-content-lg-around position-relative pt-5">
          <div class="col-lg-7 col-md-7 pr-lg-5">
            <div class="p-4 p-md-5 bg-white shadow">              
                <div class="form-group mb-3">
                  <input type="text" class="form-control" name="login" placeholder="login" value="{{ user }}" disabled>
                </div>
                <div class="form-group mb-0">
                  <a href="{% url 'authapp:logout' %}" class="btn btn-primary">Выйти<i class="fas fa-arrow-right pl-3"></i></a>
                </div>              
            </div>
          </div>
        </div>
      </div>
    </section>
{% endif %}

{% endblock %}