.as-h2 {
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.as-main-wordlist {
    padding: 2px;
    border-radius: 7px;
    color: #022d62;
}

.as-badge {
    cursor: pointer;
    padding: 0.5em 0.4em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.as-calculator-textarea {
    border: 1px solid #eeeeee;
    border-radius: 5px;

}
.as-border-word {
    font-size: 18px;
    color: #6c757d;
    background-color: #fff;
    position: relative;
    padding: 5px 5px;
    top: -20px;
}

.as-border-word-main-window {
    font-size: 18px;
    color: #6c757d;
    background-color: #fff;
    position: relative;
    padding: 5px 5px;
    top: -20px;
}

.section-title .active {
    background-color: #022d62;
}

.section-title .active h5{
    color: #ffffff;
}

.section-title .active p{
    color: #ffffff;
}

.customer-info-block {
    height: 35em;
}

.customer-info-block .no-company {
    padding: 30px;
    border: 1px solid #676c71;
    text-align: center;
}

.customer-info-block .customer-info {
    border-right: 1px solid #676c71;
}

.as-record-list-item:hover {
    background-color: #c9c9c9;
}

.list-list a {
    color: #022d62 !important;
}

.list-list li {
    margin-top: 3px;
}
