{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}

1C для торговли - идеальное решение для бизнеса | Annasoft

{% endblock %}

{% block description %}
В наше время мало кто сможет возразить тому факту, что говоря про коммерческие программы люди имеют ввиду прежде всего семейство программ 1С:Предприятие 8. Данный комплекс решений плотно вошел в жизнь если не всех, то многих компаний в России и стран СНГ. Автоматизация и 1С во многом являются синонимами. Этих успехов компания 1С достигла вполне заслуженно. Решения на платформе 1С:Предприятие 8 достаточно легко внедряются или интегрируются с существующими продуктами, благодаря открытому коду конфигурации 1С легко изменять, дописывать или адаптировать к изменяемым потребностям бизнеса
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'show-index' %}">На главную</a></li>
              <li class="breadcrumb-item active" aria-current="page">1С:Предприятие в торговле</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>   
  </div>
</section>

<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="service-details">
          <h1 class="font-weight-bold">1С:Предприятие в торговле</h1>
          <p class="mb-4 mb-md-3">В наше время мало кто сможет возразить тому факту, что говоря про коммерческие программы люди имеют ввиду прежде всего семейство программ 1С:Предприятие 8. Данный  комплекс решений плотно вошел в жизнь если не всех, то многих компаний в России и стран СНГ. Автоматизация и 1С во многом являются синонимами. Этих успехов компания 1С достигла вполне заслуженно. Решения на платформе 1С:Предприятие 8 достаточно легко внедряются или интегрируются с существующими продуктами, благодаря открытому коду конфигурации 1С легко изменять, дописывать или адаптировать к изменяемым потребностям бизнеса. </p>
          <p class="mb-4 mb-md-3">Решения 1С для торговли представлены прежде всего конфигурациями 1С:Управление торговлей, для автоматизации оптовой торговли малого и среднего бизнеса и 1С:Розница для автоматизации розничной торговли. На ряду с этими конфигурациями элементарные торговые операции можно осуществлять и в 1С:Управление нашей фирмой и 1С:Бухгалтерия предприятия. Так-же имеется масса решений сторонних компаний выполненных на платформе 1С.</p>
          <p class="mb-4 mb-md-3">Мы накопили огромный опыт внедрения типовых и разработки оригинальных конфигураций для автоматизации различных видов торговли для компаний всех систем налогообложения и форм собственности.</p>

          <p class="mb-4 mb-md-2">Мы автоматизировали торговлю:</p>
          <ul class="list list-unstyled mb-4 mb-md-5">
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Автозапчастями и сопутствующими товарами</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Продуктами питания</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Строительными материалами</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Продуктами хозяйственно-бытового назначения</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Детскими игрушками и товарами для детей</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Книгами и периодической литературой</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Цветами</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Ручным и электроинструментом</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Различными услугами (сервисные центры, грузоперевозки и пр.)</span></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}