{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'show-index' %}">На главную</a></li>
              <li class="breadcrumb-item active" aria-current="page">Системное администрирование и интеграция</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>   
  </div>
</section>

<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="service-details">
          <h2 class="font-weight-bold">Системное администрирование и интеграция</h4>
          <p class="mb-4 mb-md-3">Масса компаний желающих автоматизировать бизнес сталкиваются с проблемами в работе компьютеров, сетей, серверов и оргтехники. Эти проблемы существенно затрудняют или делают не возможным успешное внедрение любого программного обеспечения. Не имея в своем составе внутренней ИТ-службы решить эти проблемы практически не возможно. Для успешного внедрения разрабатываемых информационных систем, как и повседневной работы офиса заказчика, нужно подготовить рабочую среду.</p>
          <p class="mb-4 mb-md-3">В начале любого проекта мы наводим порядок на внутренней ИТ-кухне заказчика. В рамках наведения порядка мы обследуем компьютерные сети, рабочие места, серверное и коммуникационное оборудование. После оценки состояния работы мы вместе с заказчиком решаем что можно усовершенствовать, что заменить, а от чего следует отказаться полностью.
          Мы не ограничиваемся в использовании конкретных технологий и систем и не ограничиваем заказчика наиболее удобным для нас выбором. </p>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}