{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
	
<!-- <section class="" style="padding: 30px 0;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-12 row">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="section-title text-center">
						<a href="{% url 'show-crm-index' %}" class="btn btn-primary btn-round text-white w-space">crm</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12"> -->
					<!-- <div class="section-title text-center">
						{% if records %}
						<a href="{% url 'show_knowledge_base_customers' %}" class="btn btn-primary btn-round text-white w-space">Заказчики</a>
						{% elif customers %}
						<a href="{% url 'show_knowledge_base_props' %}" class="btn btn-primary btn-round text-white w-space">Разделы</a>
						{% elif section %}
						<a href="{% url 'show_knowledge_base_props' %}" class="btn btn-primary btn-round text-white w-space">Все разделы</a>
						{% elif customer %}
						<a href="{% url 'show_knowledge_base_customers' %}" class="btn btn-primary btn-round text-white w-space">Все заказчики</a>
						{% endif %}
					</div> -->
				<!-- </div>

			</div>
			<div class="col-lg-4 d-none d-sm-block">
				<div class="section-title text-center">
					<h2>База знаний</h2>              
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-12 row">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="section-title text-center">
						<a href="" data-toggle="modal" data-target="#newRecordModal" class="btn btn-primary btn-round text-white w-space">+Запись</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<div class="section-title text-center">
						<a href="" data-toggle="modal" data-target="#newSectionModal" class="btn btn-primary btn-round text-white w-space">+Раздел</a>
					</div>
				</div>
			</div>
		</div> -->
<!-- 		<div class="justify-content-center">
			<div class="">
				<div class="text-center">
					{% if sections %}
					<h4>Разделы</h4>
					{% elif customers %}
					<h4>Заказчики</h4>
					{% elif section %}
					<h4>{{ section }}</h4>
					{% elif customer %}
					<h4>{{ customer }}</h4>
					{% endif %}
				</div>
			</div>
		</div> -->
	<!-- </div>
</section> -->

<!-- <section class="pb-4">
	<div class="container">
		<div class="row category category-grid-style-02">
			<div class="col-12">
				<ul class="list-unstyled">
					{% if sections %}
						{% for item in sections %}
						<li><a href="{% url 'show_property' id=item.id %}">{{ item }}</a></li>
						{% endfor %}
					{% elif customers %}
						{% for item in customers %}
						<li><a href="{% url 'show_customer' id=item.id %}">{{ item }}</a></li>
						{% endfor %}
					{% elif section %}
						{% for item in section.get_records %}
						<li><a href="#">{{ item }}</a></li>
						{% endfor %}
					{% elif customer %}
						{% for item in section_of_customer %}
						<li><a href="#">{{ item }}</a></li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</section> -->
<!-- <section class="pb-4">
	<div class="container">
		<div class="row category category-grid-style-02">
			<div class="col-lg-12 col-md-12">
				<div class="p-4 p-md-5 bg-white shadow">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Заказчик</th>
								<th scope="col">Свойство</th>
								<th scope="col">Значение</th>
							</tr>
						</thead>
						<tbody>
							{% for item in records %}
							<tr>
								<td><a href="" class="text-dark">{{ item.customer }}</a></td>
								<td>{{ item.section }}</td>
								<td>{{ item.title }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>



<div class="modal" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newSectionModalLabel">Новый раздел</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="mt-4" id="sectionForm" action="{% url 'add_property' %}" method="POST">
					{% csrf_token %}
	                <div class="form-group mb-3">
	                  <input type="text" class="form-control" name="input_title" id="input_title" placeholder="Название" required>
	                </div>
              </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
				<button type="submit" class="btn btn-primary" form="sectionForm">Сохранить</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="newRecordModal" tabindex="-1" role="dialog" aria-labelledby="newRecordModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="newRecordModalLabel">Новая запись</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="mt-4" id="recordForm" action="{% url 'add_record' %}" method="POST">
					{% csrf_token %}
	                <div class="form-group mb-3">
	                  <input type="text" class="form-control" name="input_title" id="input_title" placeholder="Название" required>
	                </div>
	                <div class="form-group mb-3">
	                  <select class="form-control" name="input_section" id="input_section" required>
	                  	{% if section %}
	                  	<option selected value="{{ section.id }}" > {{ section }} </option>
	                  	{% else %}
	                  	<option selected value="" > ... </option>
	                  	{% endif %}
	                  	{% for item in select_sections %}
	                  	<option value="{{ item.id }}"> {{ item }} </option>
	                  	{% endfor %}
	                  </select>
	                </div>
	                <div class="form-group mb-3">
	                  <select class="form-control" name="input_customer" id="input_customer" required>
	                  	{% if customer %}
	                  	<option selected value="{{ customer.id }}"> {{ customer }} </option>
	                  	{% else %}
	                  	<option selected value=""> ... </option>
	                  	{% endif %}
	                  	{% for item in select_customers %}
	                  	<option value="{{ item.id }}"> {{ item }} </option>
	                  	{% endfor %}
	                  </select>
	                </div>
	                <div class="form-group mb-3">
	                  <textarea type="text" class="form-control" name="input_description" id="input_description" rows="15" placeholder="Описание"></textarea>
	                </div>

              </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
				<button type="submit" class="btn btn-primary" form="recordForm">Сохранить</button>
			</div>
		</div>
	</div>
</div> -->
{% endif %}

{% endblock %}