{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}
{% if page.meta_title %}
{{ page.meta_title }}
{% else %}
1С Бухгалтерия купить | Цена 6000
{% endif %}
{% endblock %}

{% block description %}
{% if page.meta_description %}
{{ page.meta_description }}
{% else %}
Купить 1С Бухгалтерия 8 базовая цена 6000р проф 15400р
{% endif %}
{% endblock %}

{% block keywords %}
{% if page.meta_keywords %}
{{ page.meta_keywords }}
{% else %}
1с бухгалтерия купить, 1с бухгалтерия 8.3 купить, 1с бухгалтерия базовая купить, 1с бухгалтерия купить цена, 1с бухгалтерия базовая версия купить, 1с бухгалтерия 8.3 купить цена, 1с 8.3 бухгалтерия базовая купить, 1с бухгалтерия версия 8.3 купить,
{% endif %}
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'show-index' %}">На главную</a></li>
              <li class="breadcrumb-item active" aria-current="page">Продажа 1С</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>   
  </div>
</section>

{% comment %} <section>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-12 position-relative z-index-1">
				<div class="bg-primary p-4 p-sm-5 border-radius shadow d-inline-block float-left float-sm-right">
					<a type="button" data-toggle="modal" data-target="#connectModal" class="text-white font-xlll" href="#">
						<span>Обратный звонок</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section> {% endcomment %}
{% for good in goods_list %}
<section class="" style="padding: 50px 0;">
	<h1 hidden="true">{{ good.title }}</h1>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mb-4 mb-lg-0">
				<img class="img-fluid" src="{{ good.image.url }}" alt="1с бухгалтерия купить">
			</div>
			<div class="col-lg-6">
				<h3 class="mb-2">{{ good.title }}</h3>
				<p class="mb-4">{{ good.description }}</p>
				<div class="row mb-4">
					{% if good.price_base %}
					<div class="col-12 col-lg-6">
						<h6 class="mb-0">Базовая: <b class="text-primary font-xll">&#8381; {{ good.price_base }}</b></h6>
					</div>
					{% endif %}
					<div class="col-12 col-lg-6">
						<h6 class="mb-0">ПРОФ: <b class="text-primary font-xll">&#8381; {{ good.price }}</b></h6>
					</div>
				</div>
				{% comment %} <div class="row">
					<div class="col-12" align="right">
						<a type="button" data-toggle="modal" data-target="#connectModal" href="#" class="btn btn-primary btn-round text-white w-space">Заказать</a>
					</div>
				</div> {% endcomment %}
			</div>
		</div>
	</div>
</section>
{% endfor %}

<section class="space-pb mt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="testimonial-style-03 border-radius bg-light p-4 mt-4 mt-lg-0">
					<div class="testimonial-item p-2">
						<div class="testimonial-content">
							<i class="fas fa-quote-left quotes text-dark"></i>
							<p class="testimonial-des">Мы являемся официальным партнером компании 1С. Реализуем всю линейку программных продуктов компании 1С, а так же ПО, разработанное по стандарту "1С совместимо" другими партнерами. <br>
							По всем вопросам обращайтесь к нашим менеджерам по телефонам, указанным на сайте или через форму обратной связи. </p>
						</div>
						<div class="testimonial-author">
							<div class="testimonial-name">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}