{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}

Веб разработка проектирование реализация IT проектов Реализованно более 100 проектов | Annasoft

{% endblock %}

{% block description %}
С программисты, веб разработчики команда специалистов с большим опытом разработки и интеграции. 
Разработка программного обеспечения для медицины, транспортной логистики, торговли, ресторанов, производства.
{% endblock %}

{% block keywords %}
ит специалисты, web разработчики, веб разработчики, внедрение программных продуктов, веб разработка, серверное оборудование.
{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'show-index' %}">На главную</a></li>
              <li class="breadcrumb-item active" aria-current="page">О нас</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>   
  </div>
</section>

<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h1 hidden>Аннасофт команда IT специалистов с большим опытом разработки, внедрения и сопровождения программных продуктов платформы 1С:Предприятие 8</h1>
        <h2 class="text-dark">Команда программистов 1С и WEB разработчиков</h2>
        <h6 class="text-dark">Аннасофт/Annasoft - команда ИТ-специалистов с большим опытом проектирования, разработки, внедрения и сопровождения программных продуктов разработанных на платформе "1С:Предприятие". Наши интересы не ограничиваюся 1С, на ряду с 1С мы занимаемся производством web-решений и интеграцией их с системами 1С.</h6>
        <p>Наши интересы направлены на создание комфортной ИТ-среды для наших клиентов, в которой они не будут задумываться о технических и технологических особенностях работы того или иного программного продукта или оборудования, а сосредоточат свое внимание на свою непосредственную деятельность. Наша миссия состоит в концентрации на себе возникших ИТ-проблемм, если такие возникнут. Наши клиенты занимаются коммерцией, мы помогаем им это делать максимально комфортно.</p>
        <p>Мы спроектируем и реализуем под ключ внутреннюю ИТ-инфраструктуру любой компании. Поможем подобрать, приобрести, настроить и запустить любое серверное оборудование, сетевые маршрутизаторы, рабочие станции, офисную технику и торговое оборудование. В своей работе, благодаря большому количеству заказчиков, мы накопили огромный опыт интеграции различных программ и оборудования.</p>
        <p class="mb-0">К каждому заказчику мы подходим индивидуально, много внимания уделяем мелочам. Стараемся придерживаться высоких внутренних стандартов нашей компании. Всегда предлагаем несколько путей решения возникших проблем.</p>
      </div>
    </div>
  </div>
</section>
    
{% endblock %}