{% extends 'baseapp/base.html' %}

{% load static %}

{% block context %}

<!--=================================
    About -->
    <section class="space-ptb">
      <div class="container">
        <div class="row justify-content-center mt-4 mt-md-5">
          <div class="col-lg-10">
            <h2 class="text-dark">Аннасофт/Annasoft</h2>
            <h6 class="text-dark">Команда ИТ-специалистов с большим опытом проектирования, разработки, внедрения и сопровождения программных продуктов разработанных на платформе "1С:Предприятие". Наши интересы не ограничиваюся 1С, на ряду с 1С мы занимаемся производством web-решений и интеграцией их с системами 1С.</h6>
            <p>Наши интересы направлены на создание комфортной ИТ-среды для наших клиентов, в которой они не будут задумываться о технических и технологических особенностях работы того или иного программного продукта или оборудования, а сосредоточат свое внимание на свою непосредственную деятельность. Наша миссия состоит в концентрации на себе возникших ИТ-проблемм, если такие возникнут. Наши клиенты занимаются коммерцией, мы помогаем им это делать максимально комфортно.</p>
            <p>Мы спроектируем и реализуем под ключ внутреннюю ИТ-инфраструктуру любой компании. Поможем подобрать, приобрести, настроить и запустить любое серверное оборудование, сетевые маршрутизаторы, рабочие станции, офисную технику и торговое оборудование. В своей работе, благодаря большому количеству заказчиков, мы накопили огромный опыт интеграции различных программ и оборудования.</p>
            <p class="mb-0">К каждому заказчику мы подходим индивидуально, много внимания уделяем мелочам. Стараемся придерживаться высоких внутренних стандартов нашей компании. Всегда предлагаем несколько путей решения возникших проблем.</p>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    About -->

    
{% endblock %}