<!DOCTYPE html>
<html lang="ru">
	{% load static %}
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8S9YSSLLD3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8S9YSSLLD3');
    </script>
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T5XL3CK');</script>
    <!-- End Google Tag Manager -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(83744695, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/83744695" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


    <meta charset="utf-8">
    <meta name="keywords" content="{% block keywords %}Annasoft - is the solution {% endblock %}" />
    
    <meta name="author" content="annasoft.ru" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}Annasoft - it is solution{% endblock %}" />
    <title>{% block title %}Annasoft - это решение!{% endblock  %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />


    <!-- Google Font -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i&display=swap"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="{% static 'css/font-awesome/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate/animate.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/magnific-popup/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/as-style.css' %}" />

    <!-- Template Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>    
    <!-- Google Tag Manager (noscript) -->
    {% comment %} <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5XL3CK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> {% endcomment %}
    <!-- End Google Tag Manager (noscript) --> 

    <!--=================================
    header -->
    <div class="footer">
      <div class="footer-bottom py-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center text-lg-right  mb-lg-0">
              <ul class="list-unstyled mb-0 social-icon">
                <li><a target="_blank" href="viber://chat?number=+79036420842"><i class="fab fa-viber"></i></a></li>
                <li><a target="_blank" href="https://wa.me/79036420842"><i class="fab fa-whatsapp"></i></a></li>
                <li><a target="_blank" href="https://telegram.me/annasoft_developer"><i class="fab fa-telegram-plane"></i></a></li>
                <li><a href="{% url 'show-crm-index' %}"><i class="fa fa-user"></i></a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="header header-style-02">
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-lg-flex">
                <a class="navbar-brand" href="{% url 'show-index' %}">
                  <img class="img-fluid" src="{% static 'images/logo_as.png' %}" alt="разработка интернет магазина">
                </a>
                <div class="contact-info ml-auto align-items-center d-none d-lg-flex">
                  <ul>
                    <li>
                      <i class="flaticon-world"></i>
                      <span>
                        <label class="d-block">Богданка 111</label>
                        <label class="d-block"> Белгород, РФ</label>
                      </span>
                    </li>
                    <li>
                      <i class="flaticon-call"></i>
                      <span>
                        <label class="d-block">+7 4722 500 842</label>
                        <label class="d-block">+7 903 642 08 42</label>
                        
                      </span>
                    </li>
                    <li>
                        <i class="flaticon-email"></i>
                        <span>
                         <label class="d-block">info@annasoft.ru</label>
                         <label class="d-block">Пон-Пят: 9:00 - 18:00</label>
                          {% comment %} <a class="d-block" href="{% url 'show-crm-index' %}">crm</a> {% endcomment %}
                        </span>
                    </li>                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </header>
    <!--=================================
    header -->


	{% block content %}
	{% endblock %}

<!--=================================
    Action Box -->
    {% block action_box %}
    <section class="space-pb dark-background">
      <div class="container">
        <div class="bg-dark text-center rounded py-5 px-3">
          <h2 class="text-white">Расскажите нам о Вашей идее, мы поможем ее реализовать.</h2>
          <h6 class="text-white">Есть проблема и нужно найти ее решение? Это наша работа!</h6>
          <a type="button" data-toggle="modal" data-target="#connectModal" href="#" class="btn btn-primary-round btn-round mx-0 mx-md-3 text-white">Начнем!<i class="fas fa-arrow-right pl-3"></i></a>
        </div>
      </div>
    </section>
    <!--=================================
    Action Box -->
    {% endblock %}
    <div class="modal fade bd-example-modal-lg" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Свяжитесь со мной</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="col-lg-12 col-md-12">

              <form id="contactFormAnnasoft" class="mt-4" action="{% url 'send_contact_form' %}"  method="POST">
                {% csrf_token %}
                <div class="form-group mb-3">
                  {{ contact_form.firstName }}
                </div>
                <div class="form-group mb-3">
                  {{ contact_form.phone }}
                </div>
                <div class="form-group mb-4">
                  {{ contact_form.comment }}
                </div>
                <div class="form-group mb-4">
                  <div class="custom-control custom-checkbox">
                    <input name="accessData" checked type="checkbox" class="custom-control-input" id="customCheck1">
                    <label id="privacyLabel" style="border-radius: 5px;" class="custom-control-label small pl-1 pr-1" for="customCheck1">Я согласен на обработку <a href="{% url 'show_privacy' %}">персональных данных</a></label>
                  </div>
                </div>
                <div class="form-group mb-4">
                  {{ contact_form.captcha }}
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button id="sendFormButton" form="contactFormAnnasoft" type="submit" class="btn btn-primary">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </div>


<!--=================================
    footer-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-contact-info">
              <a href="{% url 'show-index' %}"><img class="img-fluid mb-4" src="{% static 'images/logo_as_dark.png' %}" alt="интернет магазин под ключ"></a>
              <p class="mb-2 mb-sm-4">Белгород <br/> Б.Хмельницкого проспект 111 <br/> офис 540</p>
              <h4 class="mb-2 mb-sm-4 font-weight-bold"><a href="tel:+74722500842">+ 4722 500 842</a></h4>
              <a class="text-dark" href="mailto:info@annasoft.ru">info@annasoft.ru</a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 mt-4 mt-md-0 pl-lg-5">
            <h5 class="text-primary mb-2 mb-sm-4">Услуги</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">

                {% for service in services %}
                <li><a href="{% url 'show-service-detail' id=service.id %}">{{ service.title }}</a></li>
                {% endfor %}                
              </ul>
              
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mt-4 mt-lg-0">
            <h5 class="text-primary mb-2 mb-sm-4">Компания</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">
                <li><a href="{% url 'show-our-tools' %}">Наши инструменты</a></li>
                <li><a href="{% url 'trade_1c' %}">Купить 1С</a></li>
                <li><a href="{% url 'show-about' %}">О нас</a></li>                
                <!-- <li><a href="{% url 'show-articles' %}">Статьи</a></li>                 -->
                <li><a href="{% url 'show-work-with-us' %}">Работа у нас </a></li>
                <li><a href="{% url 'show_privacy' %}">Политика конфиденциальности</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'show-crm-index' %}"><span class="badge badge-success ml-2">crm</span></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          
        </div>
      </div>
      <div class="footer-bottom mt-3 mt-md-5 py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 text-center text-lg-left mb-3 mb-lg-0">
              <ul class="list-unstyled mb-0 social-icon">
                <li><a target="_blank" href="viber://chat?number=+79036420842"><i class="fab fa-viber"></i></a></li>
                <li><a target="_blank" href="https://wa.me/79036420842"><i class="fab fa-whatsapp"></i></a></li>
                <li><a target="_blank"href="https://telegram.me/annasoft_developer"><i class="fab fa-telegram-plane"></i></a></li>
              </ul>
            </div>
            <div class="col-lg-4 text-center">
              <p class="mb-0">©Copyright 2021 <a href="{% url 'show-index' %}">Annasoft</a> All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--=================================
    footer-->

    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top">up</div>
    <!--=================================
    Back To Top-->

    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'js/swiperanimation/SwiperAnimation.min.js' %}"></script>
    <script src="{% static 'js/counter/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'js/jarallax/jarallax-video.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/shuffle/shuffle.min.js' %}"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="{% static 'js/custom.js' %}"></script>
    <script async="async" src="https://w.uptolike.com/widgets/v1/zp.js?pid=1945415" type="text/javascript"></script>

    <script type="text/javascript">

      window.onload = function() {
        document.getElementById('sendFormButton').addEventListener('click', function(event) {
          event.preventDefault();
          let check = document.getElementById('customCheck1');
          let privacyLabel = document.getElementById('privacyLabel');
          
          let name = document.getElementById('exampleInputName');
          let phone = document.getElementById('exampleInputPhone');
          let description = document.getElementById('exampleInputEnquiry-Description');

          privacyLabel.style.backgroundColor = 'white';
          name.style.backgroundColor = 'white';
          phone.style.backgroundColor = 'white';
          description.style.backgroundColor = 'white';

          if (check.checked == true) {
            
            if ( name.value | phone.value | description.value ) {
              let form = document.getElementById('contactFormAnnasoft');
              form.submit();
            } else {
              if (name.value == '') {
                name.style.backgroundColor = '#E79090';
              };
              if (phone.value == '') {
                phone.style.backgroundColor = '#E79090';
              };
              if (description.value == '') {
                description.style.backgroundColor = '#E79090';
              };
            };
            } else {
              privacyLabel.style.backgroundColor = '#E79090';;
          };
        }, false);
        };

      function inputFilter(){
        if (event.keyCode < 48 || event.keyCode > 57) {
          if (event.keyCode == 43) {
          } else {
            event.returnValue= false;
          };
        };
      };
    
    </script>
    {% block custom_script %}{% endblock %}
  </body>
</html>