<!DOCTYPE html>
<html lang="ru">
	{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Annasoft - it is solution" />
    <meta name="author" content="annasoft.ru" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Annasoft - это решение!</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <!-- Google Font -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo:400,400i,500,500i,600,600i,700,700i&display=swap"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="{% static 'css/font-awesome/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/swiper/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate/animate.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/magnific-popup/magnific-popup.css' %}" />

    <!-- Template Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>

    <!--=================================
    header -->
    <header class="header header-style-02">
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="d-sm-flex">
                <a class="navbar-brand" href="{% url 'show-index' %}">
                  <img class="img-fluid" src="{% static 'images/logo-light.svg' %}" alt="logo">
                </a>
                <div class="contact-info ml-auto align-items-center d-none d-lg-flex">
                  <ul>
                    <li>
                      <i class="flaticon-world"></i>
                      <span>
                        <label class="d-block">Богданка 111</label>
                        <label class="d-block"> Белгород, РФ</label>
                      </span>
                    </li>
                    <li>
                      <i class="flaticon-call"></i>
                      <span>
                        <label class="d-block">+7 4722 500 842</label>
                        <label class="d-block">Пон-Пят: 9:00 - 18:00</label>
                      </span>
                      </li>
                      <li>
                        <i class="flaticon-email"></i>
                        <span>
                         <label class="d-block">info@annasoft.ru</label>
                          <a class="d-block" href="{% url 'show-crm-index' %}">crm</a>
                        </span>
                      </li>                      
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </header>
    <!--=================================
    header -->


	{% block content %}
	{% endblock %}

<!--=================================
    Action Box -->
    <section class="space-pb dark-background">
      <div class="container">
        <div class="bg-dark text-center rounded py-5 px-3">
          <h2 class="text-white">Расскажите нам о Вашей идее, мы поможем ее реализовать.</h2>
          <h6 class="text-white">Есть проблемма и нужно найти ее решение? Это наша работа!</h6>
          <a type="button" data-toggle="modal" data-target="#connectModal" href="#" class="btn btn-primary-round btn-round mx-0 mx-md-3 text-white">Начнем!<i class="fas fa-arrow-right pl-3"></i></a>
        </div>
      </div>
    </section>
    <!--=================================
    Action Box -->

    <div class="modal fade bd-example-modal-lg" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Свяжитесь со мной</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-lg-12 col-md-12 ">

                  <form class="mt-4">
                    <div class="form-group mb-3">
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
                    </div>
                    <div class="form-group mb-3">
                      <input type="text" class="form-control" id="exampleInputLname" placeholder="Last Name">
                    </div>
                    <div class="form-group mb-3">
                      <input type="text" class="form-control" id="exampleInputEmail" placeholder="Email Address">
                    </div>
                    <div class="form-group mb-3">
                      <input type="text" class="form-control" id="exampleInputEnquiry" placeholder="Enquiry Type">
                    </div>
                    <div class="form-group mb-4">
                      <textarea class="form-control" id="exampleInputEnquiry-Description" placeholder="Enquiry Description" rows="5"></textarea>
                    </div>
                    <div class="form-group mb-4">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label small" for="customCheck1">Я согласен на обработку персональных данных</label>
                      </div>
                    </div>
                  </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-primary">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </div>


<!--=================================
    footer-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-contact-info">
              <a href="{% url 'show-index' %}"><img class="img-fluid mb-4" src="{% static 'images/logo.svg' %}" alt="logo"></a>
              <p class="mb-2 mb-sm-4">Белгород <br/> Б.Хмельницкого проспект 111 <br/> офис 540</p>
              <h4 class="mb-2 mb-sm-4 font-weight-bold"><a href="tel:+74722500842">+ 4722 500 842</a></h4>
              <a class="text-dark" href="mailto:info@annasoft.ru">info@annasoft.ru</a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 mt-4 mt-md-0 pl-lg-5">
            <h5 class="text-primary mb-2 mb-sm-4">Услуги</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">

                {% for service in services %}
                <li><a href="{% url 'show-service-detail' id=service.id %}">{{ service.title }}</a></li>
                {% endfor %}                
              </ul>
              
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mt-4 mt-lg-0">
            <h5 class="text-primary mb-2 mb-sm-4">Компания</h5>
            <div class="footer-link">
              <ul class="list-unstyled mb-0">
                <li><a href="{% url 'show-show_e_commerce_and_1c' %}">Интернет магазин + 1С</a></li>
                <li><a href="{% url 'show-about' %}">О нас</a></li>                
                <li><a href="{% url 'show-articles' %}">Статьи</a></li>                
                <li><a href="{% url 'show-work-with-us' %}">Работа у нас </a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'show-crm-index' %}"><span class="badge badge-success ml-2">crm</span></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          
        </div>
      </div>
      <div class="footer-bottom mt-3 mt-md-5 py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 text-center text-lg-left mb-3 mb-lg-0">
              <ul class="list-unstyled mb-0 social-icon">
                <!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>                 -->
              </ul>
            </div>
            <div class="col-lg-4 text-center text-lg-right">
              <p class="mb-0">©Copyright 2021 <a href="{% url 'show-index' %}">Annasoft</a> All Rights Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--=================================
    footer-->

    <!--=================================
    Back To Top-->
    <div id="back-to-top" class="back-to-top">up</div>
    <!--=================================
    Back To Top-->

    <!--=================================
    Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'js/swiperanimation/SwiperAnimation.min.js' %}"></script>
    <script src="{% static 'js/counter/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'js/jarallax/jarallax-video.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/shuffle/shuffle.min.js' %}"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>