{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}
{% if page.meta_title %}
{{ page.meta_title }}
{% else %}
Разработка Интернет Магазина под ключ с интеграцией 1С
{% endif %}
{% endblock %}

{% block description %}
{% if page.description %}
{{ page.description }}
{% else %}
Индивидуальная разработка интернет магазина с интеграцией 1С любой конфигурации без использования CMS. Автоматический обмен данными сайта с 1С. Полный пакет услуг по разработке и сопровождению.
{% endif %}
{% endblock %}

{% block keywords %}
{% if page.keywords %}
{{ page.keywords }}
{% else %}
разработка интернет магазина москва, создание интернет магазина москва, интернет магазин под ключ москва, интернет магазин с нуля москва
{% endif %}
{% endblock %}


{% block content %}
<section class="bg-primary overflow-hidden mb-2">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-12 col-lg-6 offset-lg-1 d-none d-lg-block order-md-2">
        <img class="" width="1250" src="{% static 'images/demo.jpg' %}" alt="Разработка интернет магазина под ключ с интеграцией 1с">
      </div>
      <div class="col-12 col-lg-5 order-md-1 py-6">
        <h1 class="font-weight-bold display-3 text-white text-center">Интернет магазин</h1>
        <h1 class="font-weight-bold display-3 text-white text-center">+</h1>
        <h1 class="font-weight-bold display-3 text-white text-center">1С</h1>
        <p class="text-white">Индивидуальная разработка интернет - магазина с интеграцией 1С любой конфигурации без использования CMS.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 mt-5 mt-sm-n5 position-relative z-index-1">
        <div class="bg-primary p-4 p-sm-5 border-radius shadow d-inline-block float-left float-sm-right">
          <a  type="button" data-toggle="modal" data-target="#connectModal" class="text-white font-xlll" href="#">
            <span>Обратный звонок</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="space-ptb">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9">
        <div class="section-title text-center">
          <h2>Преимущества нашего предложения.</h2>
          <!-- <p>Positive pleasure-oriented goals are much more powerful motivators than negative fear-based ones.</p> -->
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-9">
        <div class="accordion" id="career-opportunities">
          <div class="card">
            <div class="accordion-icon card-header" id="headingOne">
              <h4 class="mb-0">
                <button class="btn" type="button" data-toggle="collapse" data-target="#security-manager" aria-expanded="true" aria-controls="security-manager">Оригинальная разработка</button>
              </h4>
            </div>
            <div id="security-manager" class="collapse show" aria-labelledby="headingOne" data-parent="#career-opportunities">
              <div class="card-body">
                <ul class="list list-unstyled ckeck-list mb-4 mb-md-5">
                  <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Не используем CMS, все делается руками под Ваши требования.</span></li>
                  <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Можем адаптировать HTML-верстку любого дизайна под Ваши требования.</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="accordion-icon card-header" id="headingTwo">
              <h4 class="mb-0">
                <button class="btn" type="button" data-toggle="collapse" data-target="#business-partner" aria-expanded="false" aria-controls="business-partner">Использование передовых инструментов и технологий</button>
              </h4>
            </div>
            <div id="business-partner" class="collapse show" aria-labelledby="headingTwo" data-parent="#career-opportunities">
              <div class="card-body">
                <ul class="list list-unstyled ckeck-list mb-4 mb-md-5">
                  <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Для разработки пользовательского интерфейса используем всю мощь Vue.</span></li>
                  <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Для разработки серверной части - python/django.</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="accordion-icon card-header" id="headingThree">
              <h4 class="mb-0">
                <button class="btn" type="button" data-toggle="collapse" data-target="#outreach-representative" aria-expanded="false" aria-controls="outreach-representative">Интеграция с 1С:Предприятие 8</button>
              </h4>
            </div>
            <div id="outreach-representative" class="collapse show" aria-labelledby="headingThree" data-parent="#career-opportunities">
              <div class="card-body">
                <ul class="list list-unstyled ckeck-list mb-4 mb-md-5">
                  <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Обеспечим передачу информации из любой конфигурации 1С на сайт и обратно.</span></li>
                  <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Не нужно запускать выгрузку данных из 1С на сайт руками или по расписанию, данные сразу выгружаются при их изменении.</span></li>
                  <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Оперативное получение заказов с сайта — при сохранении заказа на сайте данные сразу передаются в 1С.</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--               <div class="row mt-4 mt-md-5">
                <div class="col text-center">
                  <p>Необходима дополнительная информация?</p>
                  <a  type="button" data-toggle="modal" data-target="#connectModal" href="#" class="btn btn-primary btn-round text-white w-space">Свяжитесь с нами<i class="fas fa-arrow-right pl-3"></i></a>
                </div>
              </div> -->
            </div>
          </section>
              

{% endblock %}