{% extends 'baseapp/base.html' %}

{% load static %}

{% block title %}

Дружная команда, здоровая атмосфера | Работа в IT компании Annasoft

{% endblock %}

{% block description %}
Мы команда, состоящая из профессионалов с опытом разработки и внедрения 10-15 лет. Мы понимаем потребности бизнесса благодаря обширнейшей гамме направлений деятельности наших постоянных клиентов.
{% endblock %}



{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'show-index' %}">На главную</a></li>
              <li class="breadcrumb-item active" aria-current="page">Работа у нас</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>   
  </div>
</section>

<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="text-dark">Актуальные вакансии</h1>
      <div class="col-xl-10 ">
        <div class="testimonial-style-03 border-radius bg-light p-5">
          <h4 class="font-weight-bold">Программист на платформе 1С:Предприятие 8</h4>

          <p class="mb-4 mb-md-2">Наши ожидания от соискателя:</p>              
          <ul class="list list-unstyled mb-4 mb-md-5">
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Знание основ бухгалтерского учета</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Понимание процессов производства и торговли</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Уверенное понимание структуры и возможностей основных типовых конфигураций (УТ, Розница, БП, КА, УПП, ERP)</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Обучаемость и готовность познавать новое</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Готовность работать в команде</span></li>
          </ul>

          <p class="mb-4 mb-md-2">Наше предложение соискателю:</p>              
          <ul class="list list-unstyled mb-2 ">
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Работа в офисе в центре города с красивым видом</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Интересные и разноплановые проекты</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Конкурентная заработная плата (оклад +% прибыли компании)</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Минимиальный контакт с заказчиком</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Возможность влиять на принимаемые решения в компании</span></li>
          </ul>

        </div>
      </div>

      <div class="col-xl-10 pt-4">
        <div class="testimonial-style-03 border-radius bg-light p-5">
          <h4 class="font-weight-bold">Помощник программиста на платформе 1С:Предприятие 8</h4>

          <p class="mb-4 mb-md-2">Наши ожидания от соискателя:</p>              
          <ul class="list list-unstyled mb-4 mb-md-5">
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Желание развиваться в 1С:Предприятие</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Исполнительность</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Внимательность к мелочам</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Обучаемость и готовность познавать новое</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Готовность работать в команде</span></li>
          </ul>

          <p class="mb-4 mb-md-2">Наше предложение соискателю:</p>              
          <ul class="list list-unstyled mb-2 ">
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Обучение во время работы</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Работа в офисе в центре города с красивым видом</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Интересные и разноплановые проекты</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Конкурентная заработная плата</span></li>
            <li class="d-flex"><i class="fas fa-check pr-2 pt-1 text-primary"></i><span>Минимальный контакт с заказчиком</span></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}