{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <section class="" style="padding: 30px 0;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-12">
            <div class="section-title text-left">
                <a href="{% url 'customers' %}" class="btn btn-primary-round btn-round mx-0">Все заказчики</a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="section-title text-center">
              <h4>{{ customer.instance }}</h4>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
          </div>
        </div>
        <div class="row justify-content-lg-around position-relative pt-1">
          
          <div class="col-lg-7 col-md-7 pr-lg-5">
            <div class="p-4 p-md-5 bg-white shadow">
              <h3></h3>

              <form class="mt-4" id="customerForm" method="POST" action="{% url 'save-customer' %}">
              	{% csrf_token %}
                          

                <div class="form-group mb-3">
                  {{ customer.id }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.name }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.full_name }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.inn }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.kpp }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.email }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.address1 }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.address2 }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.phone1 }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.phone2 }}
                </div>

                

                <div class="form-group mb-4">
                 {{ customer.description }}
                </div>

                <div class="form-group mb-0">
                  <button type="submit" form="customerForm" class="btn btn-primary">Сохранить<i class="fas fa-arrow-right pl-3"></i></button>
                </div>
              </form>
            </div>
          </div>
          {% if customer.instance %}
          <div class="col-lg-5 col-md-5 pr-lg-5">
            <div class="p-4 p-md-5 bg-white shadow">
              <h3>Контактные лица</h3>
              <div class="mt-4">
                
                {% for employee in customer.instance.get_employes %}
                <div class="form-group mb-3">
                  <a href="{% url 'show-employee' id=employee.id %}" class="btn btn-primary">{{ employee }}</a>
                  <!-- <input type="text" class="form-control" name="name" placeholder="Наименование" value="{{ employee }}"> -->
                </div>
                {% endfor %}
                {% if customer.instance %}
                <div class="form-group mt-5">
                  <a href="{% url 'new-employee' customer_id=customer.instance.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">+Добавить</a>
                </div>
                {% endif %}

                <div class="form-group mt-5">
                  <a href="{% url 'new-task' customer_id=customer.instance.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">+Задача</a>
                </div>
              </div>
            </div>
             <div class="p-4  bg-white shadow mt-3">
              <h4>Информация</h4>
              <div class="mt-2">
                <ul class="list-list pl-0">
                  {% if info %}
                  {% for item in info %}
                  <a href="" data-toggle="modal" data-target="#recordModal{{ item.id }}"><li class="list-group-item as-record-list-item">{{ item }}</li></a>
                  {% endfor %}
                  {% endif %}
                  <a href="" data-toggle="modal" data-target="#newRecordModal"><li class="list-group-item as-record-list-item" style="text-align: right;">Новая запись</li></a>

                    <div class="modal fade" id="newRecordModal" tabindex="-1" role="dialog" aria-labelledby="newRecordModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="newRecordModalLabel">Новая запись</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form class="mt-4" id="newRecordModalForm" action="{% url 'add_record' %}" method="POST">
                              {% csrf_token %}
                              <div class="form-group mb-3">
                                <input type="text" class="form-control" name="input_title" id="input_title" placeholder="Заголовок" required>
                              </div>
                              <div class="form-group mb-3">
                                <select class="form-control" name="input_section" id="input_section" required>
                                  <option selected value=""> ... </option>
                                  {% for section in select_sections %}
                                  <option value="{{ section.id }}"> {{ section }} </option>
                                  {% endfor %}
                                </select>
                              </div>
                              <div class="form-group mb-3">
                                <select class="form-control" name="input_customer" id="input_customer" required>
                                  <option value="{{ customer.instance.id }}">{{ customer.instance.name }}</option>
                                </select>
                              </div>
                              <div class="form-group mb-3">
                                <textarea type="text" class="form-control" name="input_description" id="input_description" rows="15" placeholder="Описание"></textarea>
                              </div>

                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary" form="newRecordModalForm">Сохранить</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% if info %}<a href="{% url 'show_all_records' %}?customer_id={{ customer.instance.id }}"><li class="list-group-item as-record-list-item" style="text-align: right;">Все записи</li></a>{% endif %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
    </section>
 
  {% if info %}
    {%  for item in info %}
        <div class="modal fade" id="recordModal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="recordModalLabel{{ item.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="recordModalLabel{{ item.id }}">{{ item.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="mt-4" id="recordForm{{ item.id }}" action="{% url 'save_record' id=item.id %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group mb-3">
                    <input type="text" class="form-control" name="input_title" id="input_title" placeholder="Название" value="{{ item.title }}" required>
                  </div>
                  <div class="form-group mb-3">
                    <select class="form-control" name="input_section" id="input_section" required>
                      {% if item.section %}
                      <option selected value="{{ item.section.id }}" > {{ item.section }} </option>
                      {% else %}
                      <option selected value="" > ... </option>
                      {% endif %}
                      {% for section in select_sections %}
                      {% if not section == item.section %}
                      <option value="{{ section.id }}"> {{ section }} </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <select class="form-control" name="input_customer" id="input_customer" required>
                      <option selected value="{{ item.customer.id }}" >{{ item.customer }}</option>
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <textarea type="text" class="form-control" name="input_description" id="input_description" rows="15" placeholder="Описание">{{ item.description }}</textarea>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary" form="recordForm{{ item.id }}">Сохранить</button>
              </div>
            </div>
          </div>
        </div> 
    {% endfor %}    
  {% endif %}

{% endif %}



{% endblock %}

{% block action_box %}
<hr class="my-4 my-sm-5 pb-0">
{% endblock %}