{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <!--=================================
    Category -->
    <section class="space-ptb bg-dark-half-md">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-lg-2">
            <div class="section-title text-center">              
              <a href="{% url 'show-crm-index' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3 text-white">crm</a>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="section-title text-center">
              <h2 class="text-white">Заказчики</h2>
              <p class="lead text-white"></p>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="section-title text-center">              
              <a href="{% url 'new-customer' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3 text-white">+Заказчик</a>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="category category-grid-style-01">
              
              {% for customer in customers %}
              <div class="category-item">
                <div class="category-icon">
                  <a href="{% url 'show-customer' id=customer.id %}"><i class="flaticon-android"></i></a>
                </div>
                <a href="{% url 'show-customer' id=customer.id %}" class="category-title">{{ customer }}</a>
                <a href="{% url 'new-task' customer_id=customer.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">+Задача</a>
              </div>
              {% endfor %}

              <div class="category-item">
                <div class="category-icon">
                  <a href="{% url 'new-customer' %}"><i class="flaticon-android"></i></a>
                </div>
                <a href="{% url 'new-customer' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">+Заказчик</a>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </section>
    <!--=================================
    Category -->
{% endif %}

{% endblock %}

{% block action_box %}
<hr class="my-4 my-sm-5 pb-0">
{% endblock %}