{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<!--=================================
    Contat Form -->
    <section class="space-ptb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center">
              {% if customer.instance %}
              <h4>{{ customer.instance }}</h4>
              {% else %}
              <h4>Новый заказчик</h4>
              {% endif %}
              <p>Введите данные о заказчике</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-lg-around position-relative pt-5">
          
          <div class="col-lg-7 col-md-7 pr-lg-5">
            <div class="p-4 p-md-5 bg-white shadow">
              <h3></h3>

              <form class="mt-4" method="post" action="{% url 'save-customer' %}">
              	{% csrf_token %}
                          

                <div class="form-group mb-3">
                  {{ customer.id }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.name }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.full_name }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.inn }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.kpp }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.email }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.address1 }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.address2 }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.phone1 }}
                </div>

                <div class="form-group mb-3">
                  {{ customer.phone2 }}
                </div>

                

                <div class="form-group mb-4">
                 {{ customer.description }}
                </div>

                <div class="form-group mb-0">
                  <button type="submit" class="btn btn-primary">Сохранить<i class="fas fa-arrow-right pl-3"></i></button>
                </div>
              </form>
            </div>
          </div>
          {% if customer.instance %}
          <div class="col-lg-5 col-md-5 pr-lg-5">
            <div class="p-4 p-md-5 bg-white shadow">
              <h3>Контактные лица</h3>
              <div class="mt-4">
                
                {% for employee in customer.instance.get_employes %}
                <div class="form-group mb-3">
                  <a href="{% url 'show-employee' id=employee.id %}" class="btn btn-primary">{{ employee }}</a>
                  <!-- <input type="text" class="form-control" name="name" placeholder="Наименование" value="{{ employee }}"> -->
                </div>
                {% endfor %}
                
                <div class="form-group mt-5">
                  <a href="{% url 'new-employee' customer_id=customer.instance.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">+Добавить</a>
                </div>

                <div class="form-group mt-5">
                  <a href="{% url 'new-task' customer_id=customer.instance.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">+Задача</a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
    </section>
    <!--=================================
    Contat Form  -->
{% endif %}

{% endblock %}