{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <!--=================================
    Category -->
    <section class="space-ptb bg-dark-half-md">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="section-title text-center">
              <h2 class="text-white">Управление клиентами</h2>
              <p class="lead text-white"></p>
            </div>
          </div>
        </div>        
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="category category-grid-style-01">
              
              
              <div class="category-item">
                <div class="category-icon">
                  <a href="{% url 'show-my-kanban' %}"><i class="flaticon-order"></i></a>
                </div>
                <a href="{% url 'show-my-kanban' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Канбан</a>
              </div>
              <div class="category-item">
                <div class="category-icon">
                  <a href="#"><i class="flaticon-android"></i></a>
                </div>                
                <a href="{% url 'customers' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Заказчики</a>
              </div>

              <div class="category-item">
                <div class="category-icon">
                  <a href="#"><i class="flaticon-emoji"></i></a>
                </div>               
                <a href="{% url 'persons' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Физ.лица</a>
              </div>
              
              <div class="category-item">
                <div class="category-icon">
                  <a href="#"><i class="flaticon-trophy"></i></a>
                </div>               
                <a href="{% url 'show-reports' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Отчеты</a>
              </div>
              <div class="category-item">
                <div class="category-icon">
                  <a href="#"><i class="flaticon-icon-149196"></i></a>
                </div>               
                <a href="{% url 'show_knowledge_base_props' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Знания</a>
              </div>           
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Category -->
{% endif %}

{% endblock %}