{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}


{% if user.is_authenticated %}
<!--=================================
    Contat Form -->
    <section class="" style="padding: 30px 0;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-sm-12 row">
            <div class="col-lg-5 col-5">
              <div class="section-title float-left">
                <a href="{% url 'show-crm-index' %}" class="btn btn-primary-round btn-round mx-0">crm</a>
              </div>
            </div>
            {% if onUser %}
            <div class="col-lg-7 col-7">
              <div class="section-title">
                <a href="{% url 'show-kanban' %}" class="btn btn-primary-round btn-round mx-0">Все задачи</a>
              </div>
            </div>
            {% else %}
            <div class="col-lg-7 col-7">
              <div class="section-title float-right">
                <a href="{% url 'show-my-kanban' %}" class="btn btn-primary-round btn-round mx-0">Отобрать</a>
              </div>
            </div>
            {% endif %}
            
          </div>
          <div class="col-lg-4 d-none d-sm-block">
            <div class="section-title text-center">
              <h2>Канбан</h2>              
            </div>
          </div>

          <div class="col-lg-4 col-sm-12 row">
            <div class="col-lg-5 col-5">
              <div class="section-title text-center">
                <a href="{% url 'customers' %}" class="btn btn-primary-round btn-round mx-0">Заказчики</a>
              </div>
            </div>
            <div class="col-lg-7 col-7">
              <div class="section-title text-center">
                <a href="{% url 'persons' %}" class="btn btn-primary-round btn-round mx-0">Физ.лица</a>
              </div>
            </div>
          </div>
      </div>

        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="row justify-content-lg-around position-relative pt-2">
              
              <div class="col-lg-12 col-md-7">
                <div class="p-3 bg-white shadow text-center">
                  <h3>Запланированы</h3>
                </div>
              </div>
              </div>
                             
              {% for task in tasks_A %}
              <div class="row justify-content-lg-around position-relative pt-2">
              <div class="col-lg-12 col-md-7">
                <div class="p-2 bg-white shadow">
                  <div class="row">
                    <div class="col-6">
                      <h6 style="margin-bottom: 0px;" class="float-left"><a href="{% url 'show-task' id=task.id %}">{{ task }}</a></h6>
                    </div>
                    <div class="col-6">
                      <a href="{% url 'send-to-d' id=task.id %}" class="float-right"><span class="badge badge-success">Выполнить</span></a>
                    </div>
                  </div>
                    <h6 style="margin-bottom: 0px;">{{ task.from_performer }}</h6>
                  <div>
                    <p style="margin-bottom: 0px;"><a style="color: black;" href="{% url 'show-task' id=task.id %}">{{ task.get_predescription }}</a></p>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <h6 class="float-left"><a href="{% url 'show-customer' id=task.customer.id %}">{{ task.customer }}</a></h6>
                    </div>
                    <div class="col-6">
                      <h6 class="float-right">{{ task.get_dead_line_ru }}</h6>
                    </div>
                  </div>
                  <a href="{% url 'send-to-b' id=task.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">К выполнению</a>
                </div>
              </div>
              </div>
              {% endfor %}
              
          </div>
          <div class="col-lg-4">            

            <div class="row justify-content-lg-around position-relative pt-2">

              <div class="col-lg-12 col-md-7">
                <div class="p-3 bg-white shadow text-center">
                  <h3>Выполняются</h3>
                </div>
              </div>
              </div>
              

              {% for task in tasks_B %}
              <div class="row justify-content-lg-around position-relative pt-2">
              <div class="col-lg-12 col-md-7">
                <div class="p-2 bg-white shadow">
                  <div class="row">
                    <div class="col-6">
                      <h6 style="margin-bottom: 0px;" class="float-left"><a href="{% url 'show-task' id=task.id %}">{{ task }}</a></h6>
                    </div>
                    <div class="col-6">
                      <a href="{% url 'send-to-d' id=task.id %}" class="float-right"><span class="badge badge-success">Выполнить</span></a>
                    </div>
                  </div>
                    <h6 style="margin-bottom: 0px;">{{ task.from_performer }}</h6>
                  <div>
                    <p style="margin-bottom: 0px;"><a style="color: black;" href="{% url 'show-task' id=task.id %}">{{ task.get_predescription }}</a></p>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <h6 class="float-left"><a href="{% url 'show-customer' id=task.customer.id %}">{{ task.customer }}</a></h6>
                    </div>
                    <div class="col-6">
                      <h6 class="float-right">{{ task.get_dead_line_ru }}</h6>
                    </div>
                  </div>
                  <a href="{% url 'send-to-c' id=task.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">На проверку</a>
                </div>
              </div>
              </div>
              {% endfor %}
          </div>
          <div class="col-lg-4"> 
          <div class="row justify-content-lg-around position-relative pt-2">

              <div class="col-lg-12 col-md-7">
                <div class="p-3 bg-white shadow text-center">
                  <h3>Проверяются</h3>
                </div>
              </div>
              </div>
              
              {% for task in tasks_C %}
              <div class="row justify-content-lg-around position-relative pt-2">
              <div class="col-lg-12 col-md-7">
                <div class="p-2 bg-white shadow">
                  <div class="row">
                    <div class="col-6">
                      <h6 style="margin-bottom: 0px;" class="float-left"><a href="{% url 'show-task' id=task.id %}">{{ task }}</a></h6>
                    </div>
                    <div class="col-6">
                      <a href="{% url 'send-to-b' id=task.id %}" class="float-right"><span class="badge badge-warning">На доработку</span></a>
                    </div>
                  </div>
                  <h6 style="margin-bottom: 0px;">{{ task.from_performer }}</h6>
                  <div>
                    <p style="margin-bottom: 0px;"><a style="color: black;" href="{% url 'show-task' id=task.id %}">{{ task.get_predescription }}</a></p>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <h6 class="float-left"><a href="{% url 'show-customer' id=task.customer.id %}">{{ task.customer }}</a></h6>
                    </div>
                    <div class="col-6">
                      <h6 class="float-right">{{ task.get_dead_line_ru }}</h6>
                    </div>
                  </div>
                  <a href="{% url 'send-to-d' id=task.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Выполнить</a>                  
                </div>
              </div>
              </div>
              {% endfor %}            
          </div>
        </div>        
      </div>
    </section>
    <!--=================================
    Contat Form  -->
{% endif %}

{% endblock %}