{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}


{% if user.is_authenticated %}
<!--=================================
    Contat Form -->
    <section class="" style="padding: 30px 0;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="section-title text-center">
              <h4>{{ caption }}</h4>              
            </div>
          </div>
        </div>
        <div class="row justify-content-lg-around position-relative pt-1">
          
          <div class="col-lg-7 col-md-7 pr-lg-5">
            <div class="p-4 p-md-5 bg-white shadow">
              <h3></h3>
              <form class="mt-4" method="post" action="{% url 'save-task' %}">
              	{% csrf_token %}
                
                <div class="form-group mb-3">
                  {{ task.id }}
                </div>

                <div class="form-group mb-3">
                  {{ task.customer }}
                </div>

                <div class="form-group mb-3">
                  {{ task.customer_name }}
                </div>

                <div class="form-group mb-3">
                  {{ task.from_customer }}
                </div>

                <div class="form-group mb-3">
                  {{ task.performer }}
                </div>

                <div class="form-group mb-3">
                  {{ task.performer_name }}
                </div>

                <div class="form-group mb-3">
                  {{ task.from_performer }}
                </div>

                <div class="form-group mb-3">
                  {{ task.dead_line }}
                </div>

                 <div class="form-group mb-3">
                  <h6>Фактическое время выполнения:</h6>
                </div>
                <div class="form-group mb-3">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-lg-6">
                          <h6>Часов:</h6>
                          {{ task.time_scheduled_h }}
                      </div>
                      <div class="col-lg-6">
                          <h6>Минут:</h6>
                          {{ task.time_scheduled_m }}
                      </div>
                   </div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <h6>Нормативное время выполнения:</h6>
                </div>
                <div class="form-group mb-3">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-lg-6">
                          {{ task.time_actual_h }}
                      </div>
                      <div class="col-lg-6">
                          {{ task.time_actual_m }}
                      </div>
                   </div>
                  </div>
                </div>


                <div class="form-group mb-4">
                  {{ task.description }}
                </div>

                <div class="form-group mb-0">
                  <div class="container">
                    <div class="row">
                      <div class="form-group mb-0 col-lg-7 col-md-7">
                  <button type="submit" class="btn btn-primary">Сохранить<i class="fas fa-arrow-right pl-3"></i></button>
                  </div>
                  {% if is_ready %}
                  <div class="form-group mb-0 col-lg-5 col-md-5">
                  <a href="{% url 'send-to-d' id=caption.id %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Выполнить</a> 
                  </div>
                  {% endif %}
                  </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!--=================================
    Contat Form  -->
{% endif %}

{% endblock %}