{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <section class="space-ptb bg-dark-half-md">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="section-title text-center">
              <h2 class="text-white">Отчеты</h2>
              <p class="lead text-white"></p>
            </div>
          </div>
        </div>        
        <div class="row mb-3">
          <div class="col-sm-12">
            <div class="category category-grid-style-01">
              <div class="category-item">
                <div class="category-icon">
                  <a href="{% url 'show-report-001' %}"><i class="flaticon-emoji"></i></a>
                </div>               
                <a href="{% url 'show-report-001' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Отчет.1</a>
                <a href="{% url 'show-report-001' %}" class="as-report-link">
                  <p>Закрытые задачи (позадачно)</p>
                </a>
              </div>
              <div class="category-item">
                <div class="category-icon">
                  <a href="{% url 'show-report-002' %}"><i class="flaticon-emoji"></i></a>
                </div>               
                <a href="{% url 'show-report-002' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Отчет.2</a>
                <a href="{% url 'show-report-002' %}" class="as-report-link">
                  <p>Выработка по клиентам</p>
                </a>
              </div>
              <div class="category-item">
                <div class="category-icon">
                  <a href="{% url 'show-report-003' %}"><i class="flaticon-emoji"></i></a>
                </div>               
                <a href="{% url 'show-report-003' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Отчет.3</a>
                <a href="{% url 'show-report-003' %}" class="as-report-link">
                  <p>Выработка по исполнителям</p>
                </a>
              </div>
              <div class="category-item">
                <div class="category-icon">
                  <a href="{% url 'show-report-004' %}"><i class="flaticon-emoji"></i></a>
                </div>               
                <a href="{% url 'show-report-004' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Отчет.4</a>
                <a href="{% url 'show-report-004' %}" class="as-report-link">
                  <p>Закрытые задачи (по клиентам)</p>
                </a>
              </div>
              <div class="category-item">
                <div class="category-icon">
                  <a href="{% url 'show-report-005' %}"><i class="flaticon-emoji"></i></a>
                </div>               
                <a href="{% url 'show-report-005' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Отчет.5</a>
                <a href="{% url 'show-report-005' %}" class="as-report-link">
                  <p>Закрытые задачи (по исполнителям)</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endif %}

{% endblock %}

{% block action_box %}
<hr class="my-4 my-sm-5 pb-0">
{% endblock %}