{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}


{% if user.is_authenticated %}
<!--=================================
    Contat Form -->

    <section class="space-ptb">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="section-title text-center">
              
            </div>
          </div>
        </div>
        <div class="row justify-content-lg-around position-relative pt-5">
          
          <div class="col-lg-12 col-md-12 pr-lg-12">
            <div class="p-4 p-md-5 bg-white shadow">              
              <form class="mt-4" action="{% url 'show-report-001' %}" method="post">
                {% csrf_token %}
                
                <div class="container">
                  <div class="row">

                    <div class="form-group col-lg-6 col-md-6 pr-lg-6 mb-3">
                      <button type="submit" class="btn btn-primary">Сформировать<i class="fas fa-arrow-right pl-3"></i></button>
                    </div>

                    <div class="form-group col-lg-3 col-md-3 pr-lg-3 mb-3">
                      <input type="date" class="form-control" name="param_from" placeholder="Период с" value="{{ param_from }}">
                    </div>

                    <div class="form-group col-lg-3 col-md-3 pr-lg-3 mb-3">
                      <input type="date" class="form-control" name="param_to" placeholder="по" value="{{ param_to }}">
                    </div>
                    
                  </div>
                </div>
                                
              </form>
            </div>
          </div>
          
        </div>

        <div class="row justify-content-lg-around position-relative pt-5">
          
          <div class="col-lg-12 col-md-12 pr-lg-12">
            <div class="p-4 p-md-5 bg-white shadow">  

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Задача</th>
                    <th scope="col">Заказчик</th>
                    <th scope="col">Дедлайн</th>
                    <th scope="col">Исполнено</th>

                    <th scope="col">Фактичеки, мин.</th>
                    <th scope="col">По норме, мин.</th>
                    <th scope="col">Профит, мин.</th>
                  </tr>
                </thead>
                <tbody>
                 {% for task in tasks %}

                 {% if task.is_danger %}
                 <tr class="table-danger">
                  {% else %}
                  <tr>
                    {% endif %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'show-task' id=task.id %}" class="text-dark">{{ task }}</a></td>
                    <td>{{ task.customer }}</td>
                    <td>{{ task.get_dead_line_ru }}</td>
                    <td>{{ task.get_date_of_completion_ru }}</td>

                    <td>{{ task.get_time_scheduled }}</td>
                    <td>{{ task.get_time_actual }}</td>
                    <td>{{ task.get_profit }}</td>
                  </tr>
                  {% endfor %}
                  
                </tbody>

                <tfoot>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </tfoot>
              </table>
              
            </div>
          </div>
          
        </div>

      </div>
    </section>

    <!--=================================
    Contat Form  -->
{% endif %}

{% endblock %}