{% extends 'baseapp/base.html' %}

{% load static %}

{% block content %}


{% if user.is_authenticated %}
<!--=================================
    Contat Form -->

    <section class="" style="padding: 30px 0;">
      <div class="container">
        <div class="row justify-content-center">
          
          <div class="col-lg-1">
            <div class="section-title text-center">  
              
              <a href="{% url 'show-crm-index' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">crm</a>
            </div>
          </div>

          <div class="col-lg-1">
            <div class="section-title text-center">
            
              <a href="{% url 'show-reports' %}" class="btn btn-primary-round btn-round mx-0 mx-md-3">Отчеты</a>
            </div>
          </div>

              

          <div class="col-lg-10">
            <div class="section-title text-center">
            <h2>Закрытые задачи</h2>
            <h3>(позадачно)</h3>
            </div>
          </div>
        </div>
        <div class="row justify-content-lg-around position-relative pt-1">
          
          <div class="col-lg-12 col-md-12 pr-lg-12">
            <div class="p-4 p-md-5 bg-white shadow">              
              <form class="mt-4" action="{% url 'show-report-001' %}" method="post">
                {% csrf_token %}
                
                <div class="container">
                  <div class="row">

                    <div class="form-group col-lg-3 col-md-3 pr-lg-3 mb-3">
                      <button type="submit" class="btn btn-primary">Сформировать<i class="fas fa-arrow-right pl-3"></i></button>
                    </div>
                    
                    <div class="form-group col-lg-3 col-md-3 pr-lg-3 mb-3">
                      {{ settings.customer }}
                    </div>

                    <div class="form-group col-lg-3 col-md-3 pr-lg-3 mb-3">
                      {{ settings.param_from }}
                    </div>

                    <div class="form-group col-lg-3 col-md-3 pr-lg-3 mb-3">
                      {{ settings.param_to }}
                    </div>
                    
                  </div>
                </div>
                                
              </form>
            </div>
          </div>
          
        </div>

        <div class="row justify-content-lg-around position-relative pt-5">
          
          <div class="col-lg-12 col-md-12 pr-lg-12">
            <div class="p-4 p-md-5 bg-white shadow">  

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Задача</th>
                    <th scope="col">Заказчик</th>
                    <th scope="col">Исполнитель</th>
                    <th scope="col">Дедлайн</th>
                    <th scope="col">Исполнено</th>

                    <th scope="col">Фактически, час.</th>
                    <th scope="col">По норме, час.</th>
                    <th scope="col">Профит, час.</th>
                    <th scope="col">Оплата</th>
                  </tr>
                </thead>
                <tbody>
                 {% for task in tasks %}

                 {% if task.is_danger %}
                 <tr class="table-danger">
                  {% else %}
                  <tr>
                    {% endif %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'show-task' id=task.id %}" class="text-dark">{{ task }}</a></td>
                    <td>{{ task.customer }}</td>
                    <td>{{ task.get_fio_from_performer }}</td>
                    <td>{{ task.get_dead_line_ru }}</td>
                    <td>{{ task.get_date_of_completion_ru }}</td>

                    <td>{{ task.get_time_scheduled_h }}</td>
                    <td>{{ task.get_time_actual_h }}</td>
                    <td>{{ task.get_profit }}</td>
                    <td>{% if task.for_payment %} V {% else %} {% endif %}</td>
                  </tr>
                  {% endfor %}
                  
                </tbody>

                <tfoot>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                    <th scope="col">{{ time_scheduled }}</th>
                    <th scope="col">{{ time_actual }}</th>
                    <th scope="col">{{ profit }}</th>
                  </tr>
                </tfoot>
              </table>
              
            </div>
          </div>
          
        </div>

      </div>
    </section>

    <!--=================================
    Contat Form  -->
{% endif %}

{% endblock %}

{% block action_box %}
<hr class="my-4 my-sm-5 pb-0">
{% endblock %}